.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    
    & .title {
        display: flex;
        justify-content: center;
    }
    & .subtitle {
        display: flex;
        justify-content: center;
    }
    & .divider {
        font-size: large;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        text-align: center;
        margin: 5px 0;
    }
}
@media screen and (max-width: 800px){
    .sign-in{
        width: 90vw;
        padding: 20px 5px;
    }
}